#background{
  height: 100vh;
  background-color: transparent !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Pour fixer l'image en arrière-plan si nécessaire */
  background-position: center center;
  color: #fff;
  object-fit: contain;
}

.languages a{
  color: #fefefe;
}

.languages a:hover{
  color: #dedede;
}

#date {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

#randomResult{
  opacity: 0;
  cursor: default;
}

#showRecipeLink{
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  opacity:0;
  cursor: default;
}

#showRecipeLink:hover {
  color: #0D6EFC;
}

#welcome_name{
  font-size: 72px;
}
