{% extends 'base.html.twig' %}

{% block title %}New Viande{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center h-100 align-items-center">
        <div>
            <h1>Create new Viande</h1>

            {{ include('viande/_form.html.twig') }}

            <a class="btn btn-outline-primary" href="{{ path('app_viande_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
